@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,900");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  padding: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777; }

.heading-primary {
  /*background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary
  );*/
  color: #5ab9ea;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
  width: 50%; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5ab9ea, #5680e9);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.lead {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 1rem;
  align-items: center; }
  .lead__icon {
    width: 5rem;
    height: 5rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  outline-style: none;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after, .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #5ab9ea;
  color: #fff; }
  .btn--blue::after {
    background-color: #5ab9ea; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.post__icon {
  fill: #d02d17;
  height: 3rem;
  width: 3rem;
  transform: scale(1);
  transform: translateY(0);
  transition: all 0.2s;
  background-color: transparent; }
  .post__icon:hover {
    transform: scale(1.2);
    transform: translateY(-3px); }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 1000px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #777; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: inherit;
    color: inherit; }
  .user-nav__icon-box {
    position: relative; }
    .user-nav__icon-box:hover {
      background-color: #f4f2f2; }
  .user-nav__user:hover {
    background-color: #f4f2f2; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #777; }
  .user-nav__notification {
    font-size: 0.9rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #5680e9;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user {
    position: relative; }
  .user-nav__dropdown {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    height: auto;
    width: 22.4rem;
    top: 9.9rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-end;
    transition: all 0.3s; }
    .user-nav__dropdown-item {
      z-index: 1000;
      width: 100%;
      padding: 1rem 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f4f2f2;
      transform-origin: top;
      transition: all 0.2s;
      border-top: 1px solid #ccc; }
      .user-nav__dropdown-item:hover {
        background-color: #ccc; }
      .user-nav__dropdown-item__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: #777; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
  resize: none; }
  .form__input:invalid {
    box-shadow: none; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #5680e9; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input:focus::-webkit-input-placeholder {
      color: #777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.alert {
  width: 45%;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: inherit;
  transition: all 0.3s; }
  .alert-danger {
    background-color: #d02d17;
    color: #fff; }
  .alert-success {
    background-color: #5680e9;
    color: #fff; }
  .alert-invisible {
    opacity: 0; }

.sidebar {
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  background-image: linear-gradient(to bottom right, #5680e9, #5ab9ea); }
  .sidebar__nav {
    list-style: none;
    font-size: 1.6rem;
    font-family: inherit;
    color: #faf9f9;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    justify-items: stretch;
    justify-content: center; }
    .sidebar__nav-item {
      padding: 1rem;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .sidebar__nav-item:hover {
        background-color: #f4f2f2;
        color: #5680e9; }
        .sidebar__nav-item:hover > * {
          fill: #5680e9; }
    .sidebar__nav-icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: #faf9f9;
      margin-right: 1rem; }

.create-post {
  background-color: #fff;
  padding: 2rem;
  align-self: start;
  transform: scale(1);
  transition: all 0.2s;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  grid-gap: 1rem; }
  .create-post__images {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 5vw;
    grid-gap: 1.5rem; }
  .create-post__image-container {
    position: relative; }
  .create-post__image-delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    fill: #5680e9;
    height: 2rem;
    width: 2rem;
    transform: scale(1);
    transition: all 0.2s; }
    .create-post__image-delete:hover {
      transform: scale(1.1); }
    .create-post__image-delete:active, .create-post__image-delete:focus {
      transform: scale(1); }
  .create-post__image {
    object-fit: cover;
    max-height: 5vw;
    width: 100%; }
  .create-post__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; }
  .create-post__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; }
  .create-post__text {
    border-radius: 0.5rem;
    resize: none;
    width: 100%;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
    transition: all 0.2s;
    border: 1px solid #5680e9;
    padding: 5px; }
    .create-post__text::placeholder {
      color: #5680e9; }
  .create-post__text:active, .create-post__text:focus {
    border: 2px solid #5ab9ea; }
    .create-post__text:active::placeholder, .create-post__text:focus::placeholder {
      color: #777; }
  .create-post__toolbar {
    grid-column: 2 / 3; }
    .create-post__toolbar-container {
      display: flex;
      justify-content: space-between; }
    .create-post__toolbar-icon-container {
      padding: 1rem;
      border-radius: 50%;
      display: flex;
      justify-items: space-between;
      justify-content: space-between;
      align-items: space-between;
      align-content: space-between;
      transform: scale(1);
      transition: all 0.2s; }
      .create-post__toolbar-icon-container:hover {
        background-color: #5680e9;
        transform: scale(1.2);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .create-post__toolbar-icon-container:hover > * {
          fill: #fff; }
      .create-post__toolbar-icon-container:active, .create-post__toolbar-icon-container:focus {
        transform: scale(1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .create-post__toolbar-icon {
      fill: #5680e9; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 4rem;
  margin-left: 2rem; }

.footer {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-top: 1px solid #f4f2f2;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-home {
  display: grid;
  background-color: #faf9f9;
  grid-template-columns: [sidebar-start] 25rem [sidebar-end] 35vw 1fr;
  grid-gap: 5rem;
  padding: 1rem 30rem;
  justify-items: stretch; }

.section-landing {
  padding: 15rem 0;
  position: relative;
  display: grid;
  grid-template-rows: 20vh 32vh;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  align-items: center;
  justify-items: center; }
  .section-landing__heading {
    grid-column: 1 / -1; }
  .section-landing__signin {
    grid-column: 2 / 3; }
  .section-landing__register {
    grid-column: 3 / 4; }

.register {
  padding: 5rem 10rem;
  background-color: #faf9f9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content min-content;
  justify-items: center;
  grid-row-gap: 7rem; }
  .register__heading {
    grid-column: 2 / 3; }
  .register__form {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    grid-row-gap: 2rem; }
    .register__form > * {
      grid-column: 2 / 5;
      margin-left: 10%; }
    .register__form--button {
      grid-column: 3 / 4;
      margin-left: 0; }

.signin {
  padding: 5rem 10rem;
  background-color: #faf9f9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content min-content 1.6fr;
  justify-items: center;
  grid-row-gap: 10rem; }
  .signin__heading {
    grid-column: 2 / 3; }
  .signin__form {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    grid-row-gap: 2rem; }
    .signin__form > * {
      grid-column: 2 / 5;
      margin-left: 10%; }
    .signin__form--button {
      grid-column: 3 / 4;
      margin-left: 0; }
