.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid $color-grey-light-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4rem;
  margin-left: 2rem;
}
