//Colors
$color-primary: #5680e9;
$color-primary-light: #5ab9ea;
$color-primary-dark: #8860d0;
$color-teal: #84ceeb;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary: #55c57a;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-white: #fff;
$color-black: #000;

$color-red: #d02d17;

//Font
$default-font-size: 1.6rem;
